.chatWindow {
  height: 100%;
}

.chatWindow p {
  margin: 0;
}
.chatWindow .chatHeader {
  display: flex;
  height: 45px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  align-items: center;
}
.chatWindow .chatHeader p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chatWindow .chatBody {
  height: calc(100% - (90px));
  background: #fff;
  position: relative;
}
.chatWindow .chatBody .messageContainer {
  width: 100%;
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatWindow .chatBody .messageContainer::-webkit-scrollbar {
  display: none;
}
.yourMessage {
  height: auto;
  padding: 10px;
  display: flex;
}

.otherMessage {
  height: auto;
  padding: 10px;
  display: flex;
}

.messageContent {
  display: flex;
  padding: 10px var(--Space-4, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
  color: var(--Neutral-color-Neutral-12, #1c2024);
  text-overflow: ellipsis;

  /* Typography/2/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */

  border-radius: var(--Radius-2-max, 4px);
  background: var(--Neutral-color-Neutral-Alpha-3, rgba(0, 0, 59, 0.05));
}

.yourMessage {
  justify-content: flex-start;
}

.yourMessage .messageContent {
  justify-content: flex-start;
}

.yourMessage .messageMeta {
  justify-content: flex-start;
  margin-left: 5px;
}

.otherMessage {
  justify-content: flex-end;
}

.otherMessage .messageContent {
  justify-content: flex-end;
  border-radius: var(--Radius-2-max, 4px);
  background: var(--Accent-color-Accent-9, #3e63dd);

  color: var(--Default-colors-white, #fff);
}

.otherMessage .messageMeta {
  justify-content: flex-end;
  margin-right: 5px;
}

.author {
  margin-left: 10px;
  font-weight: bold;
}

.messageContentContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.messageMeta {
  display: flex;
  font-size: 12px;
  gap: 4px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
}

.chatWindow .chatFooter {
  height: 40px;

  display: flex;

  outline: none;
  font-family: "Inter", sans-serif;
  color: var(--Neutral-color-Neutral-8, #b9bbc6);

  /* Typography/3/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  border-top: 1px solid var(--Neutral-color-Neutral-3, #f2f2f5);
  background: var(--Default-colors-white, #fff);

  /* Shadows/Light/shadow-3 */
  box-shadow: 0px 2px 3px -2px rgba(0, 0, 61, 0.05),
    0px 3px 12px -4px rgba(0, 0, 0, 0.05), 0px 4px 16px -8px rgba(0, 0, 0, 0.08);

  padding: var(--Space-5, 24px) var(--Space-8, 48px);
}

.chatWindow .chatFooter input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  /* border-right: 1px dotted #607d8b; */
}

.sendFooterText {
  color: var(--Tokens-Colors-contrast-accent, #fff) !important;

  font-family: Inter;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  display: flex;
  height: var(--Tokens-Space-button-height-3, 40px);
  padding: 0px var(--Space-4, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Space-3, 12px);
  align-self: stretch;

  border-radius: var(--Radius-3-max, 6px);

  background: var(--Default-colors-black, #1c2024) !important;
  width: 72px;
}

.chatWindow .chatFooter button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chatWindow .chatFooter button:hover {
  color: #43a047;
}

.inputField {
  display: flex;
  padding: 0px var(--Space-2, 8px);
  align-items: center;
  /* flex: 1 0 0; */
  align-self: stretch;
  height: 40px;
  border-radius: var(--Radius-3-max, 6px);
  border: 1px solid var(--Neutral-color-Neutral-Alpha-6, rgba(1, 1, 46, 0.13));
  background: var(--Tokens-Colors-surface, rgba(255, 255, 255, 0.9));
}
