.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.loginBox {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.formGroup {
  width: 80%;
  margin: 10px 0;
  display: flex;
}

.message {
  margin-top: 10px;
  color: #af273e;
  font-size: 16px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputField {
  display: flex;
  padding: 0px var(--Space-2, 8px);
  align-items: center;
  width: 100%;
  align-self: stretch;
  height: 40px;
  border-radius: var(--Radius-3-max, 6px);
  border: 1px solid var(--Neutral-color-Neutral-Alpha-6, rgba(1, 1, 46, 0.13));
  background: var(--Tokens-Colors-surface, rgba(255, 255, 255, 0.9));
}

.title {
  color: #000;
  /* Typography/5/Medium */
  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 140% */
  letter-spacing: -0.08px;
}
