.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  padding: 20px;
  flex: 3 1;
}

.loginBox {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.formGroup {
  margin: 10px 0;
  width: 400px;
  text-align: left;
}
/* 
input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 378px;
} */

.message {
  margin-top: 10px;
  color: #af273e;
  font-size: 16px;
  text-align: left;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
}

.loginHeaders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-1, 4px);
}

.title {
  color: #000;
  /* Typography/5/Medium */
  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 140% */
  letter-spacing: -0.08px;
}

.subTitle {
  color: var(--neutral-color-neutral-11, #60646c);
  /* Typography/2/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-align: left;
}

.inputField {
  display: flex;
  padding: 0px var(--Space-2, 8px);
  align-items: center;
  /* flex: 1 0 0; */
  align-self: stretch;
  height: 40px;
  border-radius: var(--Radius-3-max, 6px);
  border: 1px solid var(--Neutral-color-Neutral-Alpha-6, rgba(1, 1, 46, 0.13));
  background: var(--Tokens-Colors-surface, rgba(255, 255, 255, 0.9));
}
